# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Migrations
migrations/versions/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.sqlite3 