# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Migrations
# migrations/versions/ (удалено для Alembic)

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.sqlite3 

# Local SQLite databases and instance folder
*.db
instance/
!/instance/README.md

# Specific DB files (ensure not tracked)
/site.db
/instance/site.db