{% extends "base.html" %}
{% block title %}{{ _('Імпресум') }}{% endblock %}
{% block content %}
<div style="text-align:center; max-width:700px; margin:40px auto;">
  <h2>{{ _('Імпресум') }}</h2>
  <p><strong>Brama UA e.V.</strong></p>
  <p>Вулиця: Musterstraße 1<br>Місто: 12345 Берлін<br>Країна: Німеччина</p>
  <p>Голова правління: Іван Петренко</p>
  <p>Телефон: +49 123 4567890</p>
  <p>Email: <a href="mailto:info@brama-ua.org">info@brama-ua.org</a></p>
  <p>Реєстраційний номер: VR 12345 B</p>
  <p>Відповідальний за контент: Іван Петренко</p>
</div>
{% endblock %} 