{% extends "base.html" %}
{% block title %}{{ _('Імпресум') }}{% endblock %}
{% block content %}
<div style="text-align:center; max-width:700px; margin:40px auto;">
  <h2>{{ _('Імпресум') }}</h2>
  <p><strong>{{ _('Brama UA e.V.') }}</strong></p>
  <p>{{ _('Вулиця: Musterstraße 1') }}<br>{{ _('Місто: 12345 Берлін') }}<br>{{ _('Країна: Німеччина') }}</p>
  <p>{{ _('Голова правління: Іван Петренко') }}</p>
  <p>{{ _('Телефон: +49 123 4567890') }}</p>
  <p>{{ _('Email:') }} <a href="mailto:info@brama-ua.org">info@brama-ua.org</a></p>
  <p>{{ _('Реєстраційний номер: VR 12345 B') }}</p>
  <p>{{ _('Відповідальний за контент: Іван Петренко') }}</p>
</div>
{% endblock %} 