{% extends "base.html" %}
{% block title %}Imprint{% endblock %}
{% block content %}
<div style="text-align:center; max-width:700px; margin:40px auto;">
  <h2>Imprint</h2>
  <p><strong>Brama UA e.V.</strong></p>
  <p>Address: Nussyahl 55<br>Frankfurt am Main<br>Germany</p>
  <p>Chairman: Andrii Pylypchuk</p>
  <p>Phone: +49 160 95030120</p>
  <p>Email: <a href="mailto:pylypchukandrii770@gmail.com">pylypchukandrii770@gmail.com</a></p>
  <p>Registry Court: Frankfurt am Main</p>
  <p>Responsible for content: Andrii Pylypchuk</p>
</div>
{% endblock %}